<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.email %>
        <%= @user.name %>
        <ul>
        <%= render "microposts/micropost", micropost: @microposts %>

        </ul>
      </h1>
    </section>
  </aside>
</div>

